<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Create Blog Post')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header('Create Posts')"></header>
    <main class="container">
       <form th:action="@{/posts/create}" th:method="post" th:object="${blogpost}" class="create-form">
           <label for="title">
           <input id="title" name="title" type="text" placeholder="Title of Blog Post"th:field="*{title}">
           </label>
           <br>
           <label for="content">
               <textarea id="content" name="content" type="text" placeholder="Blog Content" th:field="*{body}" rows="5" cols="60"></textarea>
           </label>
           <br>
           <button type="submit">Post!</button>
       </form>
    </main>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>